body{
height: 3750px;
margin: 0;
padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    z-index: 999;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li a:hover{
    color: black;
    background-color: #a6a4a1; 
    
}
ul li ul {
    background-color:black;
    display:none;
    position: absolute;
    width: 200px;
    }
    
    ul li:hover ul{
        display:block;
    }
    
    li ul li {
        display:block; 
    }

.arrow_drop .arrow {
    margin: 5px 0;
    position: absolute;
    left: 400px;
    top: 10px;
    width: 23px;
    height: 23px;
}


.search .覺con {
    margin: 5px 0;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 15px;
    height: 15px;
}
.slideshow {
    background-color: black;
    position: relative;
    height: 750px;
    width: 1519px;
    overflow: hidden;
  }
  
  .slideshow-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slideshow 9s infinite;
    opacity: 0;
  }
  
  .slideshow-slide:nth-child(1) {
    animation-delay: 0s;
  }
  
  .slideshow-slide:nth-child(2) {
    animation-delay: 5s;
  }
  
  @keyframes slideshow {
    0% { opacity: 0; }
    12.5% { opacity: 1; }
    25% { opacity: 1; }
    37.5% { opacity: 0; }
  }

p{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: white;
position: absolute;
top: 95%;
left: 38%;
font-size: medium;
}

.new_york{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: white;
position: absolute;
top: 93%;
left: 45%;
font-size: large;
}

.los_angeles2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    position: absolute;
    top: 203%;
    left: 38%;
    font-size: medium;
}

.los_angeles{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    position: absolute;
    top: 95%;
    left: 45%;
    font-size: large;
}

.losangeles{
    background: url(img_chicago.jpg) no-repeat;
    width: 1519px;
    height: 750px;
    background-size: cover;
}

.los_angeles2{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: white;
position: absolute;
top: 203%;
left: 38%;
font-size: medium;
}

.los_angeles{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: white;
position: absolute;
top: 199%;
left: 45%;
font-size: large;
}

.the_band{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 220%;
    left: 45%;
    font-size: xx-large;
    letter-spacing: 7px;
}

i{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 226.5%;
    left: 48%;
    color: gray;
}

div > p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 230%;
    right: 35%;
    color: black;
}
.photo1{
    background: url(camera.jpg) no-repeat;
    width: 220px;
    height: 150px;
    position: absolute;
    top: 283%;
    left: 26%;
    background-size: cover;
}
.photo2{
    background: url(camera.jpg) no-repeat;
    width: 220px;
    height: 150px;
    position: absolute;
    top: 283%;
    left: 43%;
    background-size: cover;
}
.photo3{
    background: url(camera.jpg) no-repeat;
    width: 220px;
    height: 150px;
    position: absolute;
    top: 283%;
    left: 61%;
    background-size: cover;
}
.photos1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 278%;
    left: 32%;
}
.photos2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 278%;
    left: 49%;
}
.photos3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 278%;
    left: 67%;
}
.black{
background: url()no-repeat;
position: absolute;
top: 325%;
width: 1519px;
height: 850px;
background-color: black;
}
.tour_dates{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 335%;
    left: 42%;
    color: white;
    font-size: xx-large;
    letter-spacing: 7px;
}
.tour_dates-comment{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 342.5%;
    left: 42.5%;
    color: gray;
}
.white{
    background: url() no-repeat;
    position: absolute;
    top: 350%;
    left: 26%;
    width: 750px;
    height: 120px;
    background-color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
#span{
    position: absolute;
    top: 3%;
    left: 17%;
    height: 20px;
    width: 100px;
    color: white;
    text-align: center;
    background-color: red;
    padding-bottom: 2px;
}
.text{
    padding-top: 2px;
    padding-left: 3px;
}
#span2{
    position: absolute;
    top: 37%;
    left: 17%;
    height: 20px;
    width: 100px;
    color: white;
    text-align: center;
    background-color: red;
    padding-bottom: 2px;
}
.text2{
    padding-top: 2px;
    padding-left: 3px;
}
#span3{
    position: absolute;
    top: 70%;
    left: 90%;
    color: white;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.text3{
    padding-top: 2px;
    padding-left: 3px;
}
.new_york2{
    background-color: white;
    background: url(new_york_black_white.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 145%;
    left: -10%;
    object-fit: cover;
}
.white2{
    background: url() no-repeat;
    position: absolute;
    top: 350%;
    left: -10%;
    width: 250px;
    height: 200px;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.new-york{
font-weight: 700;
color: black;
padding-left: 10px;
padding-top: 3px;
}
.date{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
    padding-top: 10px;
    padding-left: 10px;
}
.comment{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
}
.ticket{
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 25px;
    width: 100px;
    text-align: center;
    margin-top: 40px;
    margin-left: 10px;
    padding: 7px;
}
.white3{
    background: url() no-repeat;
    position: absolute;
    top: 350%;
    left: 35%;
    width: 250px;
    height: 200px;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.paris{
    background-color: white;
    background: url(paris.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 145%;
    left: 35%;
    object-fit: cover;
}
.paris-font{
    font-weight: 700;
    color: black;
    padding-left: 10px;
    padding-top: 5px;
}
.date2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
    padding-top: 10px;
    padding-left: 10px;
}
.comment2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
}
.ticket2{
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 25px;
    width: 100px;
    text-align: center;
    margin-top: 40px;
    margin-left: 10px;
    padding: 7px;
}
.san-francisco{
    background-color: white;
    background: url(san_francisco.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 145%;
    left: 80%;
    object-fit: cover; 
}
.white4{
    background: url() no-repeat;
    position: absolute;
    top: 350%;
    left: 80%;
    width: 250px;
    height: 200px;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.san-francisco-font{
    font-weight: 700;
    color: black;
    padding-left: 10px;
    padding-top: 3px; 
}
.date3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
    padding-top: 10px;
    padding-left: 10px;
}
.comment3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
}
.ticket3{
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 25px;
    width: 100px;
    text-align: center;
    margin-top: 40px;
    margin-left: 10px;
    padding: 7px;
}
.contact2{
    letter-spacing: 7px;
    text-align: center;
    position: absolute;
    font-size: xx-large;
    left: 45%;
    top: 445%;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comment4 > i{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #a6a4a1; 
    position: absolute;
    top: 453%;
    left: 46.5%;
}
.address{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: black;
    position: absolute;
    top: 467%;
    left: 33%;
}
.phone{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: black;
    position: absolute;
    top: 470%;
    left: 33%;
}
.email{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: black;
    position: absolute;
    top: 473%;
    left: 33%;
}
#input1{
    position: absolute;
    top: 465%;
    left: 50%;
    width: 150px;
    height: 30px;
}
input{
    opacity: 0.6;
}
#input2{
    position: absolute;
    top: 465%;
    left: 61%;
    width: 150px;
    height: 30px;
}
#input3{
    position: absolute;
    top: 471%;
    left: 50%;
    width: 316.5px;
    height: 35px;
}
.location .覺con2 {
    position: absolute;
    top: 467.5%;
    left: 31.5%;
    width: 15px;
    height: 15px;
}
.phone2 .覺con3{
    position: absolute;
    top: 470.5%;
    left: 31.5%;
    width: 15px;
    height: 15px;
}
.email2 .覺con4{
    position: absolute;
    top: 473.5%;
    left: 31.5%;
    width: 15px;
    height: 15px;
}
.send{
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 25px;
    width: 65px;
    text-align: center;
    padding: 7px;
    position: absolute;
    top: 479%;
    left: 66%;
    font-weight: 300;
    font-size: large;
} 
